@using TechReads.BusinessLogic.Filters;
@model TechReads.Web.Models.BookListModel;

<h2>Books</h2>
<div>
    <ul>
    @foreach (var book in Model.Books)
    {
        <li>
            @book.Title by @book.Authors 
            @Html.ActionLink("More...", "Details", new { id = book.BookId })
        </li>
    }
    </ul>
    @Html.ActionLink("Add a Book", "Add")
</div>